.card-box {
    background-color: beige;
    height: 70px;
    width: 200px;
    margin: 5px 0 5px 0;
    flex-direction: column;
}
  
.card-input {
    background-color: beige;
    border-width: 0px;
}

.box-end {
    background-color: rgb(0, 0, 0);
    height: 10px;
    width: 100%;
}