.component-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    background-color: cadetblue;
  }

  .component-button {
    height: 45px;
    background-color: rgb(222, 227, 227);
    border-radius: 5px;
    margin: 5px;
  }